@import './base.css';

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-dark-navy: rgb(49, 62, 81);
  --clr-gray-navy: rgb(59, 77, 102);
  --clr-light-gray: rgb(98, 108, 127);
  --clr-blue: rgba(171, 193, 225,);
  --clr-blue-a: rgba(171, 193, 225, .1);
  --clr-light: rgb(244, 246, 250);
  --clr-purple: rgb(167, 41, 245);
  --clr-purple-a: rgba(167, 41, 245, .1);
  --clr-green: rgb(38, 215, 130);
  --clr-green-a: rgba(38, 215, 130, .1);
  --clr-red: rgb(238, 84, 84);
  --clr-red-a: rgba(238, 84, 84, .1);

  --clr-text: var(--clr-dark-navy);
  --clr-bg-body: var(--clr-light);
  --clr-bg-buttons: var(--clr-white)
}

.dark-mode {
  --clr-text: var(--clr-white);
  --clr-bg-body: var(--clr-dark-navy);
  --clr-bg-buttons: var(--clr-gray-navy)
}

body {
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-bg-body);
}

p {
  margin-bottom: 0
} 



